<h1><%= title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error=> { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form class="group" action="/inv/add-vehicle" method="post">
  <fieldset>
    <legend>Vehicle Information</legend>

    <div class="form-group">
      <label for="classificationList">Classification</label>
      <%- classificationList %>
    </div>

    <label for="inv_make">Make</label>
    <input
      type="text"
      name="inv_make"
      id="inv_make"
      pattern="^([0-9]*[a-zA-Z]){3,}"
      required
      placeholder="At least 3 characters"
      value="<%= locals.inv_make %>" >

    <label for="inv_model">Model</label>
    <input
      type="text"
      name="inv_model"
      id="inv_model"
      pattern="^([0-9]*[a-zA-Z]){3,}[0-9]*$"
      placeholder="At least 3 characters"
      value="<%= locals.inv_model %>"
      required
    >

    <label for="inv_description">Description</label>
    <textarea
      name="inv_description"
      id="inv_description"
      placeholder="At least 3 characters"
      required><%= locals.inv_description %></textarea>

    <label for="inv_image">Image</label>
    <input
      type="text"
      name="inv_image"
      id="inv_image"
      value="/images/vehicles/no-image.png"
      required
    >

    <label for="inv_thumbnail">Thumbnail</label>
    <input
      type="text"
      name="inv_thumbnail"
      id="inv_thumbnail"
      value="/images/vehicles/no-image-tn.png"
      required
    >

    <label for="inv_price">Price</label>
    <input
      type="text"
      name="inv_price"
      id="inv_price"
      placeholder="decimal or integer"
      value="<%=locals.inv_price %>"
      required
    >

    <label for="inv_year">Year</label>
    <input
      type="text"
      name="inv_year"
      id="inv_year"
      pattern="\d{4}"
      placeholder="4 digit year"
      value="<%= locals.inv_year %>"
      required
    >

    <label for="inv_miles">Miles</label>
    <input
      type="text"
      name="inv_miles"
      id="inv_miles"
      pattern="\d+"
      placeholder="integer"
      value="<%= locals.inv_miles %>"
      required
    >

    <label for="inv_color">Color</label>
    <input
      type="text"
      name="inv_color"
      id="inv_color"
      pattern="[A-Za-z]*"
      value="<%= locals.inv_color%>"
      required
    >

    <button type="submit" class="main-button">Add Vehicle</button>
  </fieldset>
</form>
