<div class="container">
  <% if (title) { %> <% } else { res.redirect('/') } %>
	 <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error=> { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>

	
  <% } %> <%- carDetailsGrid %>
	<div class="review-list">
		<%- messages() %>
		<%- reviewList %>
		
	</div>
	<div class="add-review">
		<%- addReview %>
	</div>
</div>
